body {
	margin: 0;
	padding: 0%;
	min-height: 100vh;
	display: grid;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto auto 1fr auto;
}
h1 {
	text-align: center;
}
header {
	grid-column: 1 / 4;
	background-color: #333;
	color: white;
	padding: 0rem;
}

nav {
	grid-column: 1 / 4;
	background-color: #000;
	color: white;
	text-align: center;
	justify-content: space-around;
}

.ul {
	list-style: none;
	display: flex;

	align-items: center;
}
.ul li {
	flex: 1 1 auto;
}
.ul a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.main {
	background: rgb(91, 91, 91);
	grid-column: 1 / 3;
	padding: 10px;
}

.aside {
	background: rgb(27, 27, 27);
	grid-column: 3 / 4;
	padding: 10px;
}

footer {
	background: rgb(171, 171, 170);
	padding: 2rem;
	text-align: center;
	grid-column: 1 / 4;
}
