body {
	font-family: 'Roboto', sans-serif;
}
header,
main,
footer {
	background-color: #4d8897;
	color: white;
	padding: 1px 0;
	text-align: center;
	max-width: 640px;
	margin: 1rem auto;
	border: 2px #4f5a5d;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	background-color: white;
}

section {
	padding: 1rem;
	background-color: rgb(167, 167, 167);
}

@media screen and (min-width: 650px) {
	header {
		background-color: darkolivegreen;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
}
